div {
  margin-bottom: 10px;
  margin-left: 5px;
}

output{
  font-weight: bold;
  font-size: larger;
}

button{
  background-color: lightblue;
  font-size: larger;
  padding: 10px 24px;
  border-radius: 10px;
  border: 2px solid black;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
}